<div class="modal ng-scope current" fix-scroller>
    <div class="modal__backdrop" ng-click="close()"></div>
    <div class="modal__dialog">
        <div class="modal__content">
            <loadingdots ng-if="loading"></loadingdots>
            <i ng-click="close()" class="icon icon--delete"></i>
            <div class="modal__header">
                <div class="mobile__header mobile__header--chromeless">
                    <a href="#" class="btn btn--cancel btn--transparent" ng-click="close($event)">Close</a>
                    <div class="mobile__header__title">Reset Password</div>
                    <a href="#" ng-click="submit()" class="btn btn--continue btn--transparent text--bluegreen">Submit</a>
                </div>
            </div>
            <div class="modal__body">
                <p class="modal__body__message" ng-class="{'error': error}" ng-bind-html="error"></p>
                <p class="modal__body__message" ng-if="!success">Please set your new password below</p>
                <p class="modal__body__message" ng-if="success">Your password was successfully reset.</p>
                <form ng-show="!success" ng-submit="submit()" name="form" novalidate>
                    <label>New Password</label>
                    <input type="password" name="password" class="form-control" ng-model="password" required>
                    <label>New Password Again</label>
                    <div ng-if="form.$submitted" ng-messages="form.confirm_password.$error" role="alert">
                        <label ng-message="match">Passwords do not match</label>
                    </div>
                    <input type="password" name="confirm_password" class="form-control" ng-model="confirm_password" required match="password">
                    <div class="double actions hidden--mini">
                        <button value="Submit" tabindex="7" class="btn btn--black btn--full btn--large submit">Submit</button>
                        <button class="btn btn--full btn--large btn--outline-dark btn-default cancel form-control" ng-click="close($event)">Cancel</button>
                    </div>
                </form>
                <div class="double actions hidden--mini" ng-if="success">
                    <button class="btn btn--green btn--full btn--large submit" ng-click="signin()">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>